<content class="ion-padding">
  <ion-item lines="none">
    <ion-label>Fill your details</ion-label>
  </ion-item>
  <form name="userDetails" #userDetails="ngForm">
    <ion-item>
      <ion-label position="stacked" class="label">Date of Birth <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input class="label-with" name="dob" [(ngModel)]="userInfo.birthDate" #dob="ngModel" type="date" required >
      </ion-input>
    </ion-item>
    <div *ngIf="dob.invalid && (dob.dirty || dob.touched)">
      <ion-text color="danger" *ngIf="dob.errors.required">This field is required.</ion-text>
    </div>

    <ion-item>
      <ion-label class="gender label-with" style="display: contents;">Gender <ion-text color="danger">*</ion-text>
      </ion-label>

      <ion-radio-group required name="gender" [(ngModel)]="userInfo.gender" #gender="ngModel">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="label-with">Male</ion-label>
                <ion-radio value="male" slot="start" style="margin: 5px;"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="label-with">Female</ion-label>
                <ion-radio value="female" slot="start" style="margin: 5px;"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-label position='stacked' class="label">Parent Contact No.<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input class="label-with"  name="contactNo" [(ngModel)]="userInfo.parentsContactNo" #contactNo="ngModel" type="tel" maxlength="10"
        minlength="10" required>
      </ion-input>
    </ion-item>
    <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)">
      <ion-text color="danger" *ngIf="contactNo.errors.required">This field is required.</ion-text>
      <ion-text color="danger" *ngIf="contactNo.errors.minlength">This field must contain 10 digits.</ion-text>
    </div>

    <ion-item>
      <ion-label class="gender label-with" style="display: contents;">Class <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-radio-group required name="class" [(ngModel)]="userInfo.standard" #class="ngModel">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="label-with">11<small>th</small></ion-label>
                <ion-radio value="11" slot="start" style="margin: 5px;"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label class="label-with">12<small>th</small></ion-label>
                <ion-radio value="12" slot="start" style="margin: 5px;"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    </ion-item>

    <ion-item class="ion-padding-end">
      <ion-label class="label-with">State:
        <ion-text color="danger">
          *
        </ion-text>
      </ion-label>
      <ion-select class="label-with" interface="popover" name="state" [(ngModel)]="userInfo.state" #state="ngModel"
        placeholder="Select State" required (ionChange)="getDistict()">
        <ion-select-option *ngFor="let state of stateList" [value]="state.stateId">{{state.stateName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-padding-end">
      <ion-label class="label-with">District:
        <ion-text color="danger">
          *
        </ion-text>
      </ion-label>
      <ion-select class="label-with" interface="popover" name="district" [(ngModel)]="userInfo.district" #district="ngModel"
        placeholder="Select District" required>
        <ion-select-option *ngFor="let district of districtList" [value]="district.districtId">{{district.districtName}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position='stacked' class="label">Taluka<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input class="label-with"  name="tal" [(ngModel)]="userInfo.taluka" #tal="ngModel" type="text" required>
      </ion-input>
    </ion-item>
    <div *ngIf="tal.invalid && (tal.dirty || tal.touched)">
      <ion-text color="danger" *ngIf="tal.errors.required">This field is required.</ion-text>
    </div>

    <ion-item lines="none">
    <ion-button (click)="onProfile()" expand="block" fill="clear" shape="round">
      Profile Picture
    </ion-button>
    </ion-item>

     <div *ngIf="imageURl != ''">
       <img class="image-container" [src]="imageURl"/> 
     </div>

     <!-- <ion-item *ngIf="fileObj"> -->
       <!-- <ion-thumbnail slot="start">
         <img src="{{imageURl}}" height="100" width="100" alt="image not found"/>
       </ion-thumbnail> -->
       <!-- <ion-label>  </ion-label> -->
     <!-- </ion-item> -->

     

    <ion-item class="ion-no-padding ion-no-margin-top" lines="none">
      <ion-grid>
        <ion-row> 
          <ion-col size="12">
            <ion-button expand="block" color="primary" fill="outline" type="submit" size="default"
              (click)="onSaveDetails()" [disabled]="userDetails.invalid">
              Save Details
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</content>