<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About-us</ion-title>
  </ion-toolbar>
</ion-header>
<div
  style="
    margin: auto;
    font-size: 4vw;
    margin-top: 5%;
    line-height: 1.5em;
    text-align: justify;
  "
>
  <ion-item class="ion-no-padding" lines="none" color="primary">
    <ion-label class="ion-text-center">ABOUT AND AROUND US</ion-label>
  </ion-item>
  <ion-item
    class="ion-no-padding ion-margin-bottom ion-margin-start"
    style="padding-left: 24vw; padding-right: 24vw"
  >
    <ion-label class="ion-text-wrap ion-text-justify">
      Vaishnavi Science Academy
    </ion-label>
  </ion-item>

  <ion-item class="ion-no-padding" lines="none" color="success">
    <ion-label class="ion-text-center">Contact us</ion-label>
  </ion-item>

  <ion-item class="ion-no-padding ion-margin-start" lines="none">
    <ion-label class="ion-text-wrap ion-text-center">
      <b>Contact: </b>
      <ion-text color="primary">9860980947</ion-text>
    </ion-label>
  </ion-item>

  <!-- <ion-item class="ion-no-padding ion-margin-start" lines="none">
    <ion-label class="ion-text-wrap ion-text-center">
      <b>E-mail: </b>
      <ion-text color="primary"> tilekarsc729@yahoo.com </ion-text>
    </ion-label>
  </ion-item> -->
</div>
