// .queNo {
//     padding: 0px;
//     height: 45px; 
//     width: 45px;
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }

// .queNo-label {
//     // width: 30px;
//     // height: 30px;
//     // padding: 0px;
//     // border: 2px solid white;
//     // border-radius: 100%;
//     font-size: 20px;
  
// }


// .queNo {
   
//     padding: 5px;
//     border: 2px solid white;
//     border-radius: 100%;
// }


// .totalQue {
//     font-size: 20px;
// }

.header-item {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

// .toolbar {
//     margin-top: 0px;
// }

.footer-item {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 0px;
}

.options {
    padding: 0px;
    position: relative;
    height: 45px; 
    width: 45px;
    border-radius: 45px;
}

.options1 {
    padding: 0px;
    position: relative;
    height: 45px; 
    width: 45px;
    border-radius: 45px;
}

.icon {
    margin: 2px;
    border: 2px solid white;
    border-radius: 100%;
}

// .queNo ion-text {
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 45%;
//     transform: translate(-50%, -50%);
// }

.options ion-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.options1 ion-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


ion-radio .radio-icon {
    display: none;
}


.footer-btn {
    height: 40px;
    margin: 0;
}

.toolbar-btn { 
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 13px;
}

// .option-container{
//    border: 1px solid var(--ion-color-success);
//    margin: 5px
// }

// .border-bottom {
//     border-bottom: 0.5px solid black;
//     margin: 5px
// }

.opt {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.toolbar {
    --border-width: 0px;
    --border-style: none;
}

.card {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.card ion-label {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: medium;
}

.div {
    margin: 0px;
    position: relative;
    top: 0%;
    background: var(--ion-color-primary);
    width: 100%;
    height: 60vw;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.div2 {
    margin: 0px;
    width: 100%
}

.div-icon {
    position: absolute;
    top: 2%;
    left: 2%
}

.div-card {
    position: relative;
    top: 19vw;
    // height: 135%;
    // width: 93%;
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 22vw;
    border-radius: 15px;
}

.div2-card {
    border-radius: 15px;
}

.avatar {
    position: absolute;
    top: 18%;
    left: 43%;
    z-index: 1;
    height: 15vw;
    width: 15vw;
}

.score-card {
    height: 25vw;
    width: 35vw;
    background-color: var(--ion-color-primary);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.inner-div {
    display: flex;
    justify-content: center;
}

.item-margin {
    margin-top: 8vw;
}

.marking {
    text-align: center;
    margin-top: 5px;
    margin-left: 77vw;
    background: lightgray;
    width: 65px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}