<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{subjectName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    id="background"
    *ngFor="let chapter of chapterList"
    (click)="onChapterClick(chapter.chapter_id)"
    [class]="chapter.bookmarkedQue ? 'border-left': ''"
  >
    <ion-item>
      <ion-label class="ion-text-wrap">{{chapter.chapter_name}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
