<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Question Papers</ion-title>
    <ion-icon
      class="ion-margin-end"
      name="ellipsis-vertical-outline"
      slot="end"
      size="large"
      (click)="onIconClick($event)"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgba(0, 0, 0, 0.04)">
  <ion-card
    class="card"
    *ngFor="let paper of questionYears; let i = index"
    [routerLink]="(i > 1 && loggedInType == 'demo') || ['/test', paper.year]"
    (click)="onQuestionPeperClick(i)"
  >
    <ion-card-content class="ion-no-padding">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="2">
            <ion-item
              class="ion-no-margin ion-no-padding icon-item-start"
              lines="none"
            >
              <ion-icon
                class="subject-logo-start"
                name="library"
                color="primary"
              ></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item
              class="ion-no-margin ion-no-padding ion-padding-end testId-item"
            >
              <ion-label class="ion-no-margin-bottom testId"
                >CET (Year - {{paper.year}})</ion-label
              >
            </ion-item>
            <ion-item class="ion-no-margin ion-no-padding" lines="none">
              <ion-label color="dark" class="ion-margin-start test-info"
                >(Physics: {{paper.phyQuestions}}, Chemistry:
                {{paper.chemQuestions}}, Mathematics:
                {{paper.mathsQuestions}})</ion-label
              >
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item
              class="ion-no-margin ion-no-padding icon-item-end"
              lines="none"
            >
              <ion-icon
                class="subject-logo-end"
                name="chevron-forward-circle"
                color="primary"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
