.card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
}

.icon-item-start {
    margin: 0px;
    margin-top: 24px;
    margin-left: 15px;
}

.subject-logo-start {
    font-size: 30px;
}

.icon-item-end {
    margin: 0px;
    margin-top: 24px;
    margin-left: 10px;
}

.subject-logo-end {
    font-size: 30px;
}

.testId-item {
    padding: 0;
}

.testId {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
}

.test-info {
    margin: 0;
    font-size: 12px;
}
