<ion-menu contentId="content" class="menu">
  <ion-content>
    <div class="menu-wrapper">
      <div class="avatar-wrapper">
      <ion-avatar class="md hydrated avatar">
        <img
          [src]="storageService.userInfo.imageData"
        />
      </ion-avatar>
    </div>

      <ion-icon class="close-icon" name="close" (click)="onClose()"></ion-icon>

      <div>
        <ion-label class="ion-text-wrap user-name">{{userInfo.firstName}} {{userInfo.lastName}}</ion-label>
      </div>

      <ion-list class="list">
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item
            (click)="onClick(page.title)"
            class="list-items"
            [routerLink]="page.url"
            routerDirection="root"
          >
            <ion-icon
              class="list-icon"
              slot="start"
              color="light"
              [name]="selectedPath == page.url ? page.icon : page.icon + '-outline'"
            ></ion-icon>
            <ion-text> {{page.title}} </ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
    <!-- <ion-item class="menu-button">    
      <ion-button (click)="onLogout()" expand="block" fill="clear" color="light">
        <ion-icon slot="start" name="log-out"></ion-icon>
        logout
      </ion-button>
    </ion-item>-->
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="home" class="tab">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="unit-test" class="tab" (click)="onUnitTest()">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="question-paper"
      class="tab"
      (click)="onQuestionPapers()"
    >
      <ion-icon name="newspaper-sharp"></ion-icon>
      <ion-label>Papers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notes" class="tab">
      <ion-icon name="browsers"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="" class="tab">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
