<ion-content>
  <div class="div-profile ion-no-padding">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-card class="profile">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-avatar slot="start">
          <img [src]="userInfo.imageData"/>
        </ion-avatar>
        <ion-label>
          <h3 class="h3">{{userInfo.firstName}} {{userInfo.lastName}}</h3>
          <p class="p">Contact: {{userInfo.contactNo}}</p>
        </ion-label>
      </ion-item>
      <ion-button
        (click)="onEditProfile()"
        fill="clear"
        color="primary"
        style="font-size: 3vw; margin: 1vw"
      >
        Edit profile picture
      </ion-button>
    </ion-card>
  </div>
  <ion-card class="ion-no-padding user-info">
    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Email: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.email}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Date of Birth: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.birthDate}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Gender:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.gender}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Parent's Contact: </ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.parentsContactNo}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Class:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.standard}} <small>th</small></ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">State:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.state}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">District:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.district}}</ion-label
      >
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label class="heading">Taluka:</ion-label>
      <ion-label slot="end" class="info ion-text-end ion-text-wrap"
        >{{userInfo.taluka}}</ion-label
      >
    </ion-item>
  </ion-card>
</ion-content>
